// Social
$fb-color: #3B5998;
$tw-color: #00C0F7;
$li-color: #00659B;

// Global
$success-color: #1A94B1;

$copywriting-color: #8C4ADB;
$programming-color: #C8479D;
$design-color: #3D57EA;
$photography-color: #50BBDA;
$animation-color: #4EB187;
$events-color: #D67973;
$research-color: #D5B53B;